*, body, html {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(224, 220, 173, 0.5);
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Sulphur Point';
  box-sizing: border-box;
}

// navigation starts here
ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25em;
}

li a:hover {
  background-color: #111;
}
// navigation ends here

h1 {
  color: #914D2F;
  text-align: center;
  font-family: 'Lilita One';
  font-size: 5em;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(20vh, 200px);
}

.gallery li.images {
  flex: 0 0 auto;
  flex-wrap: wrap;
  height: 20vh;
  margin: .12rem;
  width: 20rem;
  min-width: 15rem;
}

@supports (display: grid) {
  .gallery li.images {
    height: initial;
    margin: unset;
    width: initial;
    min-width: initial;
  }
  .gallery li.images:nth-of-type(2n + 2) {
    grid-row: span 2;
  }
}

li.images:nth-of-type(1) {
  background-image: url(/gridimages/AmboseliNationalPark.jpg);
}

li.images:nth-of-type(2) {
  background-image: url(/gridimages/CapePointSA.jpg);
}

li.images:nth-of-type(3) {
  background-image: url(/gridimages/SaharaDesertMorocco.jpg);
}

li.images:nth-of-type(4) {
  background-image: url(/gridimages/muizenberg.jpg);
}

li.images:nth-of-type(5) {
  background-image: url(/gridimages/CampKipweNamibia.jpg);
}

li.images:nth-of-type(6) {
  background-image: url(/gridimages/KenyaSunset.jpg);
}

li.images:nth-of-type(7) {
  background-image: url(/gridimages/TsavoNationalPark.jpg);
}

li.images:nth-of-type(8) {
  background-image: url(/gridimages/south-africa.jpg);
}

li.images:nth-of-type(9) {
  background-image: url(/gridimages/Giraffe.jpg);
}

li.images:nth-of-type(10) {
  background-image: url(/gridimages/VictoriaFalls.jpg);
}

li.images:nth-of-type(11) {
  background-image: url(/gridimages/DuikerIslandSouthAfrica.jpg);
}

li.images:nth-of-type(12) {
  background-image: url(/gridimages/morocco.jpg);
}

li.images:nth-of-type(13) {
  background-image: url(/gridimages/NamibiaDesert.jpg);
}

li.images:nth-of-type(14) {
  background-image: url(/gridimages/kilimanjaro.jpg);
}

li.images:nth-of-type(15) {
  background-image: url(/gridimages/RichtersveldSA.jpg);
}

li.images:nth-of-type(16) {
  background-image: url(/gridimages/NamibiaCoast.jpg);
}

li.images:nth-of-type(17) {
  background-image: url(/gridimages/IbnTulunMosqueCairo.jpg);
}

ul, li.images {
  list-style: none;
  padding-left: 0;
}

li.images {
  align-items: stretch;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 3;
  overflow: hidden;
}

li.images:hover .img-title, li.images:focus .img-title {
  background-color: #041b49;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img-title {
  background-color: rgba(4, 27, 73, 0.5);
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.25rem 0.5rem;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  transition: padding .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

footer {
  padding: 10px 0;
  background: #333;
  color: #fff;
}

span.container {
margin-left: 16px;
}